/* styles/Navbar.module.css */

.navbar {
  background-color: #000; /* Cor de fundo do Navbar */
  color: #fff; /* Cor do texto */
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  position: sticky;
  z-index: 50;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 20px; /* Espaçamento entre os itens de navegação */
  align-items: center;
}

.nav-link {
  position: relative;
  padding: 10px 15px;
  transition: color 0.3s, transform 0.3s;
  font-weight: 500;
  cursor: pointer;
}

.nav-link:hover {
  color: #1d4ed8; /* Cor ao passar o mouse */
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 250px; /* Ajuste a largura conforme necessário */
  background-color: #1f2937; /* Cor de fundo do dropdown */
  color: #fff; /* Cor do texto no dropdown */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra do dropdown */
  border-radius: 12px; /* Bordas arredondadas mais sutis */
  z-index: 50;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(10px); /* Desloca o dropdown para baixo inicialmente */
}

/* Adicione um estilo para mostrar o dropdown */
.dropdown-menu.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* Estilo para os links dentro do dropdown */
.dropdown-menu a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s;
}

/* Estilo para o hover dos links */
.dropdown-menu a:hover {
  background-color: #4b5563; /* Cor de fundo ao passar o mouse */
}

